.hero-screen {
  background-color: $backgroud-black-theme;
  color: $color-light-text;
  border-radius: 0 0 30px 30px;
  max-width: 1600px;
  margin: 0 auto;

  &__text {
    margin-block: 48px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include on-tablet {
      padding-inline: 41px;
    }

    @include on-small-desktop {
      padding-inline: 54px;
    }
  }

  &__title {
    margin: 0;
    font-family: $font-family-poppins;
    font-weight: 600;
    letter-spacing: -2px;
    font-size: 52px;
    line-height: 120%;
  }

  &__about-us {
    margin: 0;
    font-family: $font-family-open-sans;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 30px;
  }

  &__button {
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-family: $font-family-poppins;
    font-size: 15px;
    line-height: 150%;
    background-color: $color-blue-theme;
    color: $color-light-text;
  }

  &__photo {
    background-image: url(../images/slider/photo-hero-screen.png);
    background-size: cover;
    background-position: center;
    height: 390px;
    width: 100%;
    padding-bottom: 24px;
    border-radius: 30px;
  }

  &__photo-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
    padding-inline: 20px;
  }

  &__arrows {
    display: flex;
    column-gap: 16px;
    margin-bottom: 8px;
  }

  &__description-title {
    margin: 0;
    font-family: $font-family-poppins;
    font-size: 13px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__description {
    margin: 0;
    font-family: $font-family-open-sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }
}
