.testimonials {
  &__text-content {
    @include on-tablet {
      max-width: 235px;
      padding-right: 127;
    }
  }

  &__title {
    line-height: 150%;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-tablet {
      gap: 30px;
    }

    @include on-small-desktop {
      flex-direction: row;
      gap: 20px;
    }

    @include on-desktop {
      gap: 30px;
    }
  }

  &__card {
    @include on-small-desktop {
      width: 292px;
    }

    @include on-small-desktop {
      width: 362px;
    }
  }
}
