@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin content-padding-inline() {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 41px;
  }

  @include on-small-desktop {
    padding-inline: 54px;
  }

  @include on-desktop {
    padding-inline: 120px;
  }

  @include on-design {
    padding-inline: 227px;
  }
}

@mixin button-style() {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  color: #fff;

  font-family: $font-family-poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;

  @include on-tablet {
    width: 264px;
  }
}

@mixin content-text-cards {
  font-family: $font-family-poppins;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}
