$tablet-min-width: 640px;
$small-desktop-min-width: 1024px;
$desktop-min-width: 1280px;
$design-min-width: 1600px;
$large-screen-min-width: 2560px;
$backgroud-black-theme: #2c2c2c;
$color-blue-theme: #2060f6;
$c-gray: #eee;
$color-dark-text: #253757;
$color-light-text: #fff;
$font-family-roboto: Roboto, Arial, Helvetica, sans-serif;
$font-family-poppins: Poppins, serif;
$font-family-open-sans: 'Open Sans', serif;
